@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  --font-inter: "Inter", sans-serif;
  --breakpoint-xs: 375px;
  --animate-meteor: meteor 5s linear infinite 3s;
}

/* Meteor animations */
@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}

/* Nav links hover  animation */
@keyframes float1 {
  0%,
  100% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(3px, -2px);
  }
  66% {
    transform: translate(-2px, 2px);
  }
}
@keyframes float2 {
  0%,
  100% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-4px, -3px);
  }
}
@keyframes float3 {
  0%,
  100% {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(2px, -4px) scale(0.7);
    opacity: 0.5;
  }
}
@keyframes float4 {
  0%,
  100% {
    transform: translate(0px, 0px) scale(0.6);
    opacity: 0.4;
  }
  50% {
    transform: translate(-3px, 3px) scale(1.1);
    opacity: 1;
  }
}

:root {
  background-color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .general-title {
    @apply md:text-8xl text-5xl font-bold;
  }
}

@layer components {
  .meteor {
    @apply absolute bg-linear-to-r from-white via-white to-transparent rounded-full;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
  }

  .hero {
    h1 {
      @apply relative font-bold z-20 text-2xl xs:text-3xl -translate-y-40 md:-translate-y-70;
    }

    h2 {
      @apply absolute z-20 font-bold text-8xl xs:text-9xl sm:text-[200px] md:text-[250px] xl:text-[400px] 2xl:text-[550px] text-shadow-md text-shadow-white;
    }

    .orbs {
      .orb {
        @apply z-5 absolute w-20 h-20 bg-linear-to-tr from-white to-gray-500 rounded-full blur-3xl;

        &.orb-1 {
          @apply -right-5 top-50 lg:top-90;
        }

        &.orb-2 {
          @apply -left-5 bottom-40;
        }

        &.orb-3 {
          @apply right-50 top-20;
        }
      }
    }
  }

  .moon-base-section {
    @apply min-h-dvh relative before:absolute before:left-0 before:bg-black before:z-30 before:w-[110%] before:h-20 before:-top-5 before:blur-md after:content-[''] after:absolute after:left-0 after:bg-black after:z-30 after:w-[110%] after:h-20 after:-bottom-5 after:blur-md;

    .moon-base__firsttitle {
      @apply rotate-3 relative z-10;
    }

    .moon-base__secondtitle {
      @apply -rotate-1;
    }

    .moon-base__thirdtitle {
      @apply rotate-1 relative z-10;
    }
  }

  .clip_path_title {
    @apply text-3xl sm:text-5xl xl:text-7xl font-bold;
  }

  .phases-section {
    @apply min-h-dvh h-full w-full;

    .slider-wrapper {
      @apply min-h-dvh w-full mt-0;
    }
  }

  .footer-section {
    @apply relative text-white lg:h-[50vh];

    .social-btn img {
      @apply md:w-15 md:p-0 mx-3 p-3 flex justify-center items-center rounded-full transition-colors cursor-pointer;
    }

    .copyright-box {
      @apply 2xl:absolute bottom-0 w-full my-5 opacity-50 md:text-lg;
    }
  }
}
